*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    margin-top: 100%;
    background-color: #b98e72;
}

.button-menu{
    display: none;
}

.logo-bienvenida-nav{
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 0.4em;
    padding-right: 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b98e72;
    box-shadow: 3px 3px 5px #00000048;
}

header a{
    text-decoration: none;
    color: black;
}

nav{
    position: relative;
    display: flex;
    height: 70px;
    background-color: bisque;
    border-radius: 0.6em;
}

nav .list-navigator{
    display: flex;
    width: 350px;
    justify-content: center;
    align-items: center;
}

nav .list-navigator li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

nav .list-navigator li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

nav .list-navigator li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: aqua;
}

nav .list-navigator li.active a .icon{
    transform: translateY(-32px);
}

nav .list-navigator li a .text{
    position: absolute;
    color: rgb(4, 0, 255);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

nav .list-navigator li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

nav .list-navigator .close-nav{
    opacity: 0;
    width: 0;
    height: 0;
}

.indicator{
    position: absolute;
    top: -50%;
    border-radius: 50%;
    border: 6px solid rgba(113, 65, 65, 0.363);
    width: 60px;
    height: 60px;
    background:rgb(68, 238, 142) ;
    transition: 0.5s;
}

nav .list-navigator li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * -1));
}
nav .list-navigator li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
nav .list-navigator li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}


@media(width < 765px){
    .drop-list-menu{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0);
        box-shadow: -10px 0 10px #c0e3ee3e;
        display: flex;
        flex-direction: column;
    }

    .logo-bienvenida-nav > .button-menu{
    display: flex;
    cursor: pointer;
    padding: 1.2em;
    background-color: rgba(68, 238, 142, 0.499);
    margin-left: auto;
    height: 32px;
    align-items: center;
    }

}
